@page
@model ForgotPasswordModel
<div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">

<h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
    Recuperar tu contraseña
</h2>
<div class="intro-x mt-2 text-gray-500 xl:hidden text-center">Recupera tu contraseña</div>
<div class="form-control">
    <form method="post">
        <div class="intro-x mt-8">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Email" class="intro-x login__input input input--lg border border-gray-300 block" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
            <button type="submit" class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3">Enviar</button>
            <button asp-page="./Login" class="button button--lg w-full xl:w-32 text-gray-700 border border-gray-300 mt-3 xl:mt-0">Login</button>
        </div>
    </form>
</div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
